.col-sm-12.col-md-12.text-center
	= render partial: 'dashboard_button', locals: {image: 'receive_money.png', title: 'devise.dashboard.receive_money', page_url: receive_money_path }
	= render partial: 'dashboard_button', locals: {image: 'invest.jpg', title: 'devise.dashboard.invest_project', page_url: invest_project_path}
	= render partial: 'dashboard_button', locals: {image: 'refunds.png', title: 'devise.dashboard.refunds', page_url: refunds_path}
	= render partial: 'dashboard_button', locals: {image: 'activities_report.png', title: 'devise.dashboard.activities', page_url: activities_report_path}