%tr
  %td
    = id
  %td.text-center
    Steve Owsen
  %td.text-center
    75 USD
  %td.text-center
    1256 Main Street Unit 12 Los Angeles, CA 12057 USA
  %td.text-center
    USA
  %td.text-center
    +1 6307531258
  %td.text-center
    james@goldman.com
  %td
    %div
      %input{:name => :shipping, :type => "checkbox", :value => id, :id => id}
      %label{:for => id}
        %span