%br
%div
	%h5#index-a.mouse_pointer{:term => "index-a"}
		%span.green_darker_bold
			= t('infocenter.nav.index-a') + ':'
		[HU] BEFORE YOU START
%div{:term => "index-a"}
	%ul.dash
		%li [HU] Project rules / Policies
		%li [HU] How it works 
		%li [HU] Fees 
		%li [HU] Any charges apply to investors or donors? 
		%li [HU] Can foreign investors/donors participate to my project?
		%li [HU] Are there any time limits? 
		%li [HU] What if I don’t reach my goal? 
		%li [HU] How will I know if someone funds/donates my project? 
		%li [HU] Do I have to use my real name? 
		%li [HU] Who will invest or donate to my project? 
		%li [HU] Is BC work in my country?
%div
	%h5#index-b.mouse_pointer{:term => "index-b"}
		%span.green_darker_bold
			= t('infocenter.nav.index-b') + ':'
		[HU] CREATING A PROJECT
%div{:term => "index-b"}
	%ul.dash
		%li [HU] Is project video must required?  
		%li [HU] How to shoot my project video? (Video) 
		%li [HU] How many videos I can post for project?  
		%li [HU] What is fundamental?  
		%li [HU] How to set up an reward? (Video) 
		%li [HU] How many project pictures can I post in different section?  
		%li [HU] Can I edit project after proved and published?  
		%li [HU] What is project updates?  
%div
	%h5#index-c.mouse_pointer{:term => "index-c"}
		.empty
			%span.green_darker_bold
				= t('infocenter.nav.index-c') + ':'
			[HU] AFTER PROJECT PUBLISHED
%div{:term => "index-c"}
	%ul.dash
		%li [HU] Receiving Funds or Donations 
		%li [HU] Refund 
		%li [HU] What if my project failed? 
		%li [HU] What about taxes? 
%div
	%h5#index-d.mouse_pointer{:term => "index-d"}
		.empty
			%span.green_darker_bold
				= t('infocenter.nav.index-d') + ':'
			[HU] BETTER SUCCESS
%div{:term => "index-d"}
	%ul.dash
		%li [HU] Project video 
		%li [HU] Reward 
		%li [HU] Secrets to success 
		%li [HU] Promote my project / Share my campaign 
		%li [HU] BC University 