%br
%div
	%h5#index-a.mouse_pointer{:term => "index-a"}
		%span.green_darker_bold
			= t('infocenter.nav.index-a') + ':'
		ПЕРЕД ПОЧАТКОМ
%div{:term => "index-a"}
	%ul.dash
		%li Правила проекту / Політика
		%li Як це працює
		%li Порядок оплати 
		%li [UA] Any charges apply to investors or donors? 
		%li Чи можуть іноземні інвестори / спонсори брати участь в моєму проекті?
		%li Чи є обмеження по часу?
		%li Що робити, якщо я не досягну своєї мети?
		%li Як я дізнаюся, що хтось інвестує / жертвує в мій проект?
		%li Чи повинен я використовувати своє справжнє ім'я?
		%li Хто буде інвестувати або спонсорувати мій проект?
		%li Працює BC в моїй країні?
%div
	%h5#index-b.mouse_pointer{:term => "index-b"}
		%span.green_darker_bold
			= t('infocenter.nav.index-b') + ':'
		СТВОРЕННЯ ПРОЕКТУ
%div{:term => "index-b"}
	%ul.dash
		%li Чи обов'язково мати відео проекту? 
		%li Як знімати відео проекту? (Відео) 
		%li Скільки відео я можу розмістити для проекту? 
		%li Що є основоположним? 
		%li Як налаштувати нагороду? (Відео) 
		%li Скільки фотографій проекту можна розмістити в різних розділах? 
		%li Чи можу я редагувати проект після [UA] proved та публікації? 
		%li Що таке оновлення проекту?
%div
	%h5#index-c.mouse_pointer{:term => "index-c"}
		.empty
			%span.green_darker_bold
				= t('infocenter.nav.index-c') + ':'
			ПІСЛЯ ПУБЛІКАЦІЇ ПРОЕКТУ
%div{:term => "index-c"}
	%ul.dash
		%li Отримання коштів або пожертвувань 
		%li Повернення 
		%li Що робити, якщо мій проект не вдався? 
		%li Що щодо податків?
%div
	%h5#index-d.mouse_pointer{:term => "index-d"}
		.empty
			%span.green_darker_bold
				= t('infocenter.nav.index-d') + ':'
			[UA]BETTER SUCCESS
%div{:term => "index-d"}
	%ul.dash
		%li Відео проекту 
		%li Нагорода 
		%li Секрети успіху 
		%li [UA] Promote my project / Share my campaign 
		%li BC Університет 