%br
%div
	%h5#index-a.mouse_pointer{:term => "index-a"}
		%span.green_darker_bold
			= t('infocenter.nav.index-a') + ':'
		ПЕРЕД НАЧАЛОМ
%div{:term => "index-a"}
	%ul.dash
		%li Правила проекта / Политика
		%li Как это работает
		%li Порядок оплаты 
		%li [RU] Any charges apply to investors or donors? 
		%li Могут ли иностранные инвесторы / спонсоры участвовать в моем проекте?
		%li Есть ли ограничения по времени? 
		%li Что делать, если я не достигну своей цели?
		%li Как я узнаю, что кто-то инвестирует / жертвует в мой ​​проект?
		%li Должен ли я использовать свое настоящее имя?
		%li Кто будет инвестировать или спонсировать мой проект?
		%li Работает BC в моей стране?
%div
	%h5#index-b.mouse_pointer{:term => "index-b"}
		%span.green_darker_bold
			= t('infocenter.nav.index-b') + ':'
		СОЗДАНИЕ ПРОЕКТА
%div{:term => "index-b"}
	%ul.dash
		%li Обязательно ли иметь видео проекта?  
		%li Как снимать видео проекта ? (Видео) 
		%li Сколько видео я могу разместить для проекта?
		%li Что является основополагающим? 
		%li Как настроить награду? (Видео)
		%li Сколько фотографий проекта можно разместить в разных разделах?
		%li Могу ли я редактировать проект после [RU] proved и публикации?
		%li Что такое обновления проекта? 
%div
	%h5#index-c.mouse_pointer{:term => "index-c"}
		.empty
			%span.green_darker_bold
				= t('infocenter.nav.index-c') + ':'
			ПОСЛЕ ПУБЛИКАЦИИ ПРОЕКТА
%div{:term => "index-c"}
	%ul.dash
		%li Получение средств или пожертвований
		%li Возврат
		%li Что делать, если мой проект не удался? 
		%li Что насчет налогов?
%div
	%h5#index-d.mouse_pointer{:term => "index-d"}
		.empty
			%span.green_darker_bold
				= t('infocenter.nav.index-d') + ':'
			[RU]BETTER SUCCESS
%div{:term => "index-d"}
	%ul.dash
		%li Видео проекта
		%li Награда 
		%li Секреты успеха
		%li [RU] Promote my project / Share my campaign 
		%li BC Университет 