.jumbotron
  %h2 Что такое Краудфандинг?
  %p
    Краудфа́ндинг (народное финансирование, от англ. сrowd funding, сrowd — «толпа», funding — «финансирование») — это коллективное сотрудничество людей (бизнес-ангелов), которые добровольно объединяют свои деньги или другие ресурсы вместе, как правило через интернет, чтобы поддержать усилия других людей или организаций.
.jumbotron
  %h2 Кто может создать проект?
  %p
    Хотели ли Вы когда-нибудь писать свою музыку, но нуждались в финансовой поддержке? Возможно Вы художник, которому есть что показать миру? Или есть еще что-то, чего еще не изобрели? Мы здесь, что бы помочь Вам!
.jumbotron
  %h2 Кто может финансировать проект?
  %p
    Финансированием проектов занимаются бизнес-ангелы — частные инвесторы, вкладывающие деньги в инновационные проекты в обмен на возврат вложений и долю в капитале.
    Но как же это все-таки работает? Все очень просто!
.jumbotron
  %h2 Как создать профиль?
  %p
    Все начинается с идеи. При помощи специальной анкеты Вам дается возможность создать свой проект, в которую Вы можете ввести описание и прикрепить к ней аудио- и видеоматериалы. Это очень важный шаг, так как чем продуманней проект, тем легче будет заинтересовать потенциальных спонсоров. Тем не менее, всегда остается возможность редактировать и улучшать проект, тем самым повышая шансы.
.jumbotron
  %h2 Процесс
  %p
    После того, как Ваш проект добавлен к нам на сайт, он становится публичным, и любой заинтересованный спонсор или бизнес ангел может обеспечить свою поддержку комментируя, вкладывая средства или повышая рейтинг проекта. На этом этапе у проекта появятся первые отзывы, на основании которых его можно улучшить или изменить.
.jumbotron
  %h2 Состояние проекта
  %p
    У Вас будет возможность наблюдать за состоянием проекта, кто и какую сумму вложил, а так же какой суммы не хватает для его реализации.
.jumbotron
  %h2 Вознаграждения
  %p
    После того, как проект будет полностью проспонсирован, настает время вознаградить людей, которые сделали свой вклад в развитие проекта.
.jumbotron
  %h2 Правила
  %p
    Никаких членских взносов
    Финансирование на BullCentury производится только в случае, если необходимая сумма достигнута
  %p
    Плата для пользователей из стран бывшего Советского союза и КНР за благотворительные проекты: 4% + комиссия.
    Плата для пользователей из США, Канады и стран Евросоюза за собственные благотворительные проекты или благотворительные проекты друзей: 6.9% + комиссия.
    Плата для пользователей из США, Канады и стран Евросоюза за иные некоммерческие проекты: 8.25% + комиссия.
    Плата для пользователей из стран бывшего Советского союза, КНР, США, Канады и Евросоюза за коммерческие проекты: 4% + комиссия.
  %p
    BullCentury не возвращает деньги, так как все трансакции происходят напрямую между создателями проектов и спонсорами. Создатели проектов получают сумму за вычетом оплаты BullCentury вскоре после завершения кампании.