.jumbotron
  %h2 Що таке Краудфандінг?
  %p
    Краудфа́ндінг (народне фінансування, від англ. сrowd funding, сrowd — «натовп», funding — «финансування») — це колективна співпраця людей (бізнес-ангелів), які добровільно об’єднують свої гроші або інші ресурси разом, як правило через інтернет, щоби підтримати зусилля інших людей та організацій.
.jumbotron
  %h2 Хто може створити проект?
  %p
    Чи виникало в Вас бажання писати музику, але Вам не вистачало фінансової підтримки? Можливо Ви художник, якому є що показати світові? Чи може є ще щось невинайдене? Ми тут, щоб допомогти Вам!
.jumbotron
  %h2 Хто може фінансувати проект?
  %p
    Фінансуванням проектів займаються бізнес-ангели — приватні інвестори, які вкладають гроші в інноваційні проекти в обмін на повернення вкладень та долю у капіталі.
    Але як це все працює? Все дуже просто!
.jumbotron
  %h2 Як створити профіль?
  %p
    Все починається з ідеї. За допомогою спеціальної анкети Вам надається можливість створити свій проект, у яку Ви зможете ввести опис та додати до неї аудіо- та відеоматеріали. Це дуже важливий крок, бо чим краще проект продуманий, тим легше буде зацікавити потенційних спонсорів. Тим не менш, завжди є можливість редагувати та покращувати проект, тим самим відвищуючи його шанси.
.jumbotron
  %h2 Процес
  %p
    Після того, як Ваш проект доданийдо нас на сайт, він стає публічним, та будь-який інший заінтересований спонсор або бізнес-ангел може забезпечити свою подтрімку комментуючи, вкладаючи кошти або підвищуючи рейтинг проекту. На цьому етапі у проекта з’являться перші відгуки, на основі яких його можна покращити або змінити.
.jumbotron
  %h2 Стан проекту
  %p
    У Вас буде можливість спостерігати за станом проекту, хто і яку сумму вклав, а такоже якої сумми не вистачає для його реалізації.
.jumbotron
  %h2 Винагорода
  %p
    Після того, як проект будет повністю проспонсований, настає час винагород для людей, котрі зробили свій внесок у розвиток проекту.
.jumbotron
  %h2 Правила
  %p
    Ніяких членських взносів.
    Фінансування на BullCentury проводиться тільки у випадку, якщо необхідна сумма досягнута.
  %p
    Плата для користувачів з країн колишнього Радянського союзу та КНР за благодійні проекти: 4% + коміссія.
    Плата для користувачів з США, Канади та країн Євросоюзу за власні благодійні проекти або благодійні проекти друзів: 6.9% + коміссія.
    Плата для користувачів з США, Канади та країн Євросоюзу за інші не коммерційні проекти: 8.25% + коміссія.
    Плата для користувачів з країн колишнього Радянського союзу, КНР, США, Канади та Євросоюзу за коммерційні проекти: 4% + коміссія.
  %p
    BullCentury не повертає гроші, так як усі транзакції проходять напряму між творцями проектів та спонсорами. Творці проектів отримують сумму за вирахуванням оплати BullCentury незабаром після завершення кампанії.