.jumbotron
  %h2 What is Crowdfunding?
  %p
    Crowdfunding (alternately crowd financing, equity crowdfunding, crowd-sourced fundraising) is the collective effort of individuals who network and pool their money, usually via the Internet, to support efforts initiated by other people or organizations.
.jumbotron
  %h2 Who can create a project?
  %p
    Have you ever wanted to write your own music but needed financial support? Are you an artist who would like to show the world something new? Or maybe there is just this one thing that needs to be invented? We are here for you!
.jumbotron
  %h2 Who can fund a project?
  %p
    The people, who provide capital for these projects in exchange for certain rewards or ownership equity are referred to as angel investors.
    But how does it actually work? Simple!
.jumbotron
  %h2 How to build a profile?
  %p
    Everything starts with an idea. Using a specially provided form you are able to create your own project by inputting description and media materials. This is a serious step because the more thought out project is, the more interested will other people be in funding it. But no worries, there is always room for improvements and changes to increase chances in making your dream come true.
.jumbotron
  %h2 Process
  %p
    As soon as your project is added to our website it becomes public and any interested angel investor can provide their support by commenting, donating, rating and labeling. At this stage the project will start to accumulate feedback, based on which it can be modified.
.jumbotron
  %h2 Tracking
  %p
    Gradually as more angels would contribute their part to funding your project you will be able to track progress and see what amount is left until goal is reached.
.jumbotron
  %h2 Rewards
  %p
    After the project is funded all there is left is rewarding all those good people and making them just as happy.
.jumbotron
  %h2 Fees
  %p
    No membership fees
    Funding on Bull century is all-or-nothing
  %p
    Charity project fees for users from Former Soviet Republics and PRC: 4 % + payment processing fees
    Charity project fees for users from USA, Canada and EU for thyself or a friend: 6.9% + payment processing fees
    Charity project fees for users from USA, Canada and EU for favorite or non-profit: 8.25% + payment processing fees
    Non-charity project for users from Former Soviet Republics, PRC, USA, Canada and EU: 4 % + payment processing fees
  %p
    Bull century doesn't issue refunds as transactions are between funders and creators directly. Creators receive all funds (less fees) soon after their campaign ends.