.col-sm-12.sm-top-buffer
  %h5#nav-how-it-works.mouse_pointer.content-block-header{:term => "how-it-works"}
    \> #{t('quickstart.nav.how-it-works')}
  .content.content-block{:term => "how-it-works"}
    %p
      %strong Наша ідея
      досить проста. Якщо ти:
    %ol
      %li Crazy -особистість.
      %li Хочеш здивувати світ креативною ідеєю.
      %li В тебе є талант який вразить публіку.
      %li Ти все ще маєш нездійсненну  мрію.
    %p
      Ти на вірному шляху. Створи проект тут, на
      %strong BULLCENTURY
      доведи собі чого вартий.
      На
      %strong BULLCENTURY
      приходить дві групи людей. Творці проектів та інвестори або прихильники. Творці трансформують свої ідеї в проект, пропонують креативні винагороди и випускають готову «мрію» онлайн. Інвестори всього світу переглядають проекти на сайті, та вирішують або інвестувати грошима, або підтримати творця корисною порадою.
    %p BC це унікальна можливість, кожному виразити свою креативну ідею, талант та особистість. Для творців  проектів, це потужне джерело для збору коштів, професійного наставницвта та розширення  корисних звязків. Для інвесторів або прихильників це захоплююча виставка. На якій завжди є можливість знайти нові таланти і потенціальні можливості классних винагород.
    %p BC це унікальний інтернет простір. Тут Ви зможете допомагати іншим стати успішними. Здивуєтесь таланту близьких друзів. Знайдете нових знайомих та однодумців.
    %p
      %strong Проект
      \-  правила дуже прості:
    %ol
      %li Будь собою
      %li Це повинно бути «дуже креативно» або «реально цікаво»
      %li Сrazy- розумієш, що ми маємо на увазі? Тоді прояви себе в нашій унікальній категорії БОЖЕВІЛЛЯ.
    %p
      BC заохочує разносторонні  проекти. Від співів до танців, від ракетобудування  до невдалої інновації. Від аматорських фільмів до публікацій романів. А в випадку якщо ти хочеш допомогти або залучитись  піддтримкою. Наші соціальні проекти -  благодійність, товариства, навколишнє середовище та інше… були спеціально розроблені з некомерційною метою. Для нас важливо приносити користь суспільству. За більше детальним списком категорій заходьте сюди. –
      %a{:href => "#"} NO,6 in BC INFORMATION CENTER.
    %p
      %strong Інвестори/Прихильники
      – можуть підтримувати будь який проект, або декілька одночасно
    %ol
      %li Інвестуй в проект – через безпечну систему оплати BC
      %li Наставники та Консультанти  - можуть стати фанами проектів. Писати в «личку» творцям. Або просто  залишати комментарії під проектом.
      %li Популярність і Просування –  прихильники можуть стати фанами творців. Розповсюджувати лінк на проект в соціальних мережах. Або просто ставити лайк.
    %p
      %small *Для проектів  категорії  музика/медіа,  процес збору коштів на BC працює за такою ж схемою, як з лейблом першого альбому
    %a{:href => "#"} Still need more detailed information? Please visit BC information center and video class room.