%ul.nav.nav-tabs.nav-green
	%li.active
		%a{"data-toggle" => "tab", :href => "#intro"} 
			= t('university.intro')
	%li
		%a{"data-toggle" => "tab", :href => "#level_1"} 
			= t('university.level1')
	%li
		%a{"data-toggle" => "tab", :href => "#level_2"} 
			= t('university.level2')
	%li
		%a{"data-toggle" => "tab", :href => "#video"} 
			= t('university.video')