.panel.panel-default{:class => category + "_color"}
	%a.bright{:href => art_projects_url}
		.panel-heading  
			.panel-title.menu_title
				%span.glyphicon.glyphicon-chevron-left.pull-left
				= t(category)