.col-sm-12.col-md-12
	= render partial: 'dashboard_buttons', locals: {url: 'sign_in_icon1.png', title: 'devise.sign_in_icons.create'}
.col-sm-12.col-md-12
	= render partial: 'dashboard_buttons', locals: {url: 'sign_in_icon2.png', title: 'devise.sign_in_icons.invest'}
