.col-sm-12.col-md-12.no_padding
	= render partial: 'devise/express/express_button', locals: {icon: 'vk_icon.png', icon_white: 'vk_icon_white.png', text: 'login_with_vk', url: :vkontakte, color: 'vk-color'}
.col-sm-12.col-md-12.no_padding
	= render partial: 'devise/express/express_button', locals: {icon: 'fb_icon.png', icon_white: 'fb_icon_white.png', text: 'login_with_fb', url: :facebook, color: 'fb-color'}
.col-sm-12.col-md-12.no_padding
	= render partial: 'devise/express/express_button', locals: {icon: 'google_icon.png', icon_white: 'google_icon_white.png', text: 'login_with_google', url: :facebook, color: 'google-color'}