<!--[if IE 9]><select disabled><![endif]-->
%option{:value => t('how_it_works')}
%option{:value => t('bc_university')}
%option{:value => t('help')}
%option{:value => t('faq')}
%option{:value => t('info')}
%option{:value => t('quick_start')}
%option{:value => t('bc_rules')}
%option{:value => t('fees')}
%option{:value => t('bc_laws')}
%option{:value => t('feedback')}
%option{:value => t('how_and_better')}
%option{:value => t('contact_us')}
%option{:value => t('projects')}
<!--[if IE 9]></select><![endif]-->